{% extends 'Manager/base.html' %} {% block content %}
<form method="post" class="table-responsive d-flex flex-column mt-2">
  {% csrf_token %}
  <input type="submit" class="btn btn-primary w-75 my-3 mx-auto" value="更新" />
  <table class="table table-sm text-nowrap align-middle">
    <thead>
      <tr>
        <th class="col-2">
          <a href="{% url 'Manager:date' pre_date_start.year pre_date_start.month pre_date_start.day %}"><i class="bi bi-arrow-left-short"></i></a>{{ date_start.year }}/{{ date_start.month }}/{{ date_start.day }}~{{date_end.year }}/{{ date_end.month }}/{{ date_end.day }}
          {% if is_safe_date %}
          <a href="{% url 'Manager:date' next_date_start.year next_date_start.month next_date_start.day %}"><i class="bi bi-arrow-right-short"></i></a>
          {% endif %}
        </th>
        {% for user in users %}
        <th>{{ user.username }}</th>
        {% endfor %}
      </tr>
    </thead>
    {% for date, logs in date_logs %}
    {% if forloop.counter|divisibleby:'10' %}
    <tr>
      <th>
        {{ date_start.year }}/{{ date_start.month }}/{{ date_start.day }}~{{date_end.year }}/{{ date_end.month }}/{{ date_end.day }}
      </th>
      {% for user in users %}
      <th>{{ user.username }}</th>
      {% endfor %}
    </tr>
    {% endif %}
    <tr>
      <td>{{ date.0.year }}/{{ date.0.month }}/{{ date.0.day }}({{date.1}})</td>
      {% for log in logs %}
      <td>
        {% for field in log %}
        <p class="my-1">{{ field }}</p>
        {% endfor %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
    <td>合計</td>
    {% for count in counts %}
    <td>{{count}}</td>
    {% endfor %}
    <tfoot>
      <tr>
        <th class="col-2">{{ date_start.year }}/{{ date_start.month }}/{{ date_start.day }}~{{ date_end.year }}/{{ date_end.month }}/{{ date_end.day }}</th>
        {% for user in users %}
        <th>{{ user.username }}</th>
        {% endfor %}
      </tr>
    </tfoot>
  </table>
  <input type="submit" class="btn btn-primary w-75 mx-auto" value="更新" />
</form>
{% endblock %}
