{% extends "User/base.html" %}

{% block content %}
  <div class="d-flex flex-column align-items-center mx-auto mt-2">
    {% if log != None %}
    <h6>この日はすでに記録されています</h6>
    {% endif %}
    <p>
        <a href="{% url 'User:date' previous_date.year previous_date.month previous_date.day %}"><i class="bi bi-arrow-left-short mx-3"></i></a>
        {{ this_date }}
        {% if is_safe_date %}
        <a href="{% url 'User:date' next_date.year next_date.month next_date.day %}"><i class="bi bi-arrow-right-short mx-3"></i></a>
        {% endif %}
      </p>
    <form class="d-flex flex-column align-items-center" id="log_form" method="post">
      {% csrf_token %}
      <p>
        <input type="radio" id="state1" class="btn-check" name="state" value="0">
        <label class="btn btn-outline-primary" for="state1">◯</label>
        <input type="radio" id="state2" class="btn-check" name="state" value="1">
        <label class="btn btn-outline-primary" for="state2">△</label>
        <input type="radio" id="state3" class="btn-check" name="state" value="2">
        <label class="btn btn-outline-primary" for="state3">✕</label>
      </p>
      <p>
        <label for="id_well_known_location">{{form.well_known_location.label}}:</label>
        {{form.well_known_location}}
      </p>
      <p>
        <label for="id_location">現場名:</label>
        <input type="text" name="location" class="form-control" maxlength="300" id="id_location">
      </p>
      <input type="submit" class="btn btn-primary" value="送信" onclick="se_play()">
    </form>
    <a type="button" class="btn btn-secondary mt-5" href="{% url 'User:date-select' %}">別日の入力を確認</a>
  </div>
  <script>
    function se_play(){
      event.preventDefault(); // デフォルトのページ遷移を防ぐ
  
      var se = document.getElementById("submit_se");
      se.currentTime = 0;
      se.play();

      se.onended = function() {
        document.getElementById("log_form").submit();
      };
    }
  </script>
  {% if log != None %}
  <script>
    const state_selector = document.getElementsByName('state')[{{log.state | safe}}];
    state_selector.checked = true;

    const well_known_location_selector = document.getElementsByName('well_known_location')[0];
    well_known_location_selector.value = '{{log.well_known_location | safe}}'

    const location_input = document.getElementsByName('location')[0]
    location_input.value = '{{log.location | safe}}'
  </script>
  {% endif %}
{% endblock content %}